<section class="section benefits__section">
  <div class="container benefits__container">
    <ul class="benefits__list">
      <li class="benefits__item">
        <h3 class="benefits__title">Акции - новая серия</h3>
        <p class="benefits__discription">
          Мужские футболки с модными принтами в стиле Хайтек
        </p>
      </li>
      <li class="benefits__item">
        <h3 class="benefits__title">Успей до 10.04</h3>
        <p class="benefits__discription">
          Распродажа со скидками до 50%. Мужские футболки всех размеров.
        </p>
      </li>
      <li class="benefits__item">
        <h3 class="benefits__title">Скидки до 45%</h3>
        <p class="benefits__discription">
          На все футболки серии Лето 2019 при заказе от 2000 грн.
        </p>
      </li>
    </ul>
  </div>
</section>
