<section>
  <div>
    <ul>
      <li>
        <svg width="176">
          <use xlink:href="./images/icons.svg#logo"></use>
        </svg>
      </li>
      <li>
        <h2>О КОМПАНИИ</h2>
        <div>
          <p>Доставка и оплата одежды Политика конфиденциальности</p>
          <p>Опт О Нас</p>
        </div>
      </li>
      <li>
        <h2>ЗАКАЗЧИКАМ</h2>
        <div>
          <p>Личный кабинет История заказов Закладки</p>
          <p>Возврат товара Обратная связь</p>
        </div>
      </li>
      <li>
        <strong>+38 068 346 04 75</strong>
        <strong>+38 066 400 38 14</strong>
        <ul>
          <li>
            <svg width="24" height="24">
              <use xlink:href="./images/icons.svg#viber"></use>
            </svg>
          </li>
          <li>
            <svg width="24" height="24">
              <use xlink:href="./images/icons.svg#telegram"></use>
            </svg>
          </li>
          <li>
            <svg width="24" height="24">
              <use xlink:href="./images/icons.svg#whatsap"></use>
            </svg>
          </li>
          <li>
            <svg width="24" height="24">
              <use xlink:href="./images/icons.svg#email"></use>
            </svg>
          </li>
          <li>
            <svg width="24" height="24">
              <use xlink:href="./images/icons.svg#facebook"></use>
            </svg>
          </li>
          <li>
            <svg width="24" height="24">
              <use xlink:href="./images/icons.svg#instagram"></use>
            </svg>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- <div></div> -->
</section>
