<header class="header">
  <div class="container header__container">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" role="button" href="#"
            >каталог
            <svg class="arrow" width="13" height="8">
              <use xlink:href="./images/icons.svg#arrow"></use></svg
          ></a>
        </li>
        <li class="nav__item"><a class="nav__link" href="">sale</a></li>
        <li class="nav__item"><a class="nav__link" href="">опт</a></li>
        <li class="nav__item"><a class="nav__link" href="">о нас</a></li>
        <li class="nav__item"><a class="nav__link" href="">отзывы</a></li>
        <li class="nav__item">
          <a class="nav__link" href="">доставка и оплата</a>
        </li>
        <li class="nav__item"><a class="nav__link" href="">контакты</a></li>
        <li class="nav__item">
          <a class="nav__link" href=""
            ><svg class="logo" width="121" height="104">
              <use xlink:href="./images/icons.svg#logo"></use></svg
          ></a>
        </li>
      </ul>
    </nav>
    <div class="options">
      <svg width="25" height="25" class="options__icon">
        <use xlink:href="./images/icons.svg#search"></use>
      </svg>
      <svg width="25" height="25" class="options__icon">
        <use xlink:href="./images/icons.svg#like"></use>
      </svg>
      <svg width="25" height="25" class="options__icon">
        <use xlink:href="./images/icons.svg#basket"></use>
      </svg>
      <svg width="25" height="25" class="options__icon">
        <use xlink:href="./images/icons.svg#profile"></use>
      </svg>
    </div>
  </div>
</header>
