<section class="section hero__section">
  <div class="container hero__container">
    <h1 class="hero__title">мужская коллекция</h1>
    <p class="hero__discription">
      Распродажа коллекций со скидками до 50%, доставка до вашего склада
    </p>
    <button class="hero__button">ПОДРОБНЕЕ</button>
    <ul class="counter">
      <li class="counter__item">01</li>
      <li class="counter__item">02</li>
      <li class="counter__item">03</li>
      <li class="counter__item">04</li>
    </ul>
  </div>
</section>
