<section class="section products__section">
  <div class="container products__container">
    <div class="filters">
      <button class="filters__button">Новинки</button>
      <button class="filters__button">ТОП продаж</button>
      <button class="filters__button">Скидки</button>
    </div>
    <ul class="products__list">
      <li class="products__item">
        <img
          class="new-product"
          width="374"
          src="./images/bg-images/man-bg/man-preview@1x.png"
          alt=""
        />
        <div class="card">
          <ul class="card__stars">
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
          </ul>
          <span class="product__sizes">S M L</span>
        </div>
        <p class="product__discription">Футболка мужская Exclusive 22032</p>
        <span class="product__price">245₴</span>
      </li>
      <li class="products__item">
        <img
          class="new-product"
          width="374"
          src="./images/bg-images/man-bg/man-preview@1x.png"
          alt=""
        />
        <div class="card">
          <ul class="card__stars">
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
          </ul>
          <span class="product__sizes">S M L</span>
        </div>
        <p class="product__discription">Футболка мужская Exclusive 22032</p>
        <span class="product__price">245₴</span>
      </li>
      <li class="products__item">
        <img
          class="new-product"
          width="374"
          src="./images/bg-images/man-bg/man-preview@1x.png"
          alt=""
        />
        <div class="card">
          <ul class="card__stars">
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
          </ul>
          <span class="product__sizes">S M L</span>
        </div>
        <p class="product__discription">Футболка мужская Exclusive 22032</p>
        <span class="product__price">245₴</span>
      </li>
      <li class="products__item">
        <img
          class="new-product"
          width="374"
          src="./images/bg-images/man-bg/man-preview@1x.png"
          alt=""
        />
        <div class="card">
          <ul class="card__stars">
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
          </ul>
          <span class="product__sizes">S M L</span>
        </div>
        <p class="product__discription">Футболка мужская Exclusive 22032</p>
        <span class="product__price">245₴</span>
      </li>
      <li class="products__item">
        <img
          class="new-product"
          width="374"
          src="./images/bg-images/man-bg/man-preview@1x.png"
          alt=""
        />
        <div class="card">
          <ul class="card__stars">
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
          </ul>
          <span class="product__sizes">S M L</span>
        </div>
        <p class="product__discription">Футболка мужская Exclusive 22032</p>
        <span class="product__price">245₴</span>
      </li>
      <li class="products__item">
        <img
          class="new-product"
          width="374"
          src="./images/bg-images/man-bg/man-preview@1x.png"
          alt=""
        />
        <div class="card">
          <ul class="card__stars">
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
          </ul>
          <span class="product__sizes">S M L</span>
        </div>
        <p class="product__discription">Футболка мужская Exclusive 22032</p>
        <span class="product__price">245₴</span>
      </li>
      <li class="products__item">
        <img
          class="new-product"
          width="374"
          src="./images/bg-images/man-bg/man-preview@1x.png"
          alt=""
        />
        <div class="card">
          <ul class="card__stars">
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
          </ul>
          <span class="product__sizes">S M L</span>
        </div>
        <p class="product__discription">Футболка мужская Exclusive 22032</p>
        <span class="product__price">245₴</span>
      </li>
      <li class="products__item">
        <img
          class="new-product"
          width="374"
          src="./images/bg-images/man-bg/man-preview@1x.png"
          alt=""
        />
        <div class="card">
          <ul class="card__stars">
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
            <li class="card__star">
              <svg width="30" height="24">
                <use xlink:href="./images/icons.svg#star"></use>
              </svg>
            </li>
          </ul>
          <span class="product__sizes">S M L</span>
        </div>
        <p class="product__discription">Футболка мужская Exclusive 22032</p>
        <span class="product__price">245₴</span>
      </li>
    </ul>
    <button class="catalog-btn">Посмотреть каталог</button>
  </div>
</section>
