<section>
  <div>
    <h3>Подпишись и следи за новыми поступлениями и акциями</h3>
    <div>
      <svg width="65" height="55">
        <use xlink:href="./images/icons.svg#wiber"></use>
      </svg>
      <svg width="65" height="55">
        <use xlink:href="./images/icons.svg#telegram"></use>
      </svg>
      <form action="">
        <label for="phone">
          <input id="phone" placeholder="+38 (___) ___-__-__" type="text" />
        </label>

        <button>ПОДПИСАТЬСЯ</button>
      </form>
    </div>
  </div>
</section>
