<section class="section trends__section">
  <div class="container trends__container">
    <ul class="trends__options">
      <li class="trends__item">
        <button class="trends__btn">Новости</button>
      </li>
      <li class="trends__item">
        <button class="trends__btn">Отзывы</button>
      </li>
    </ul>
    <ul class="trandslist">
      <li class="trandslist__item">
        <h2 class="trandslist__title">Тренды мужской одежды 2020</h2>
        <p class="trandslist__discription">
          Распродажа коллекций со скидками до 50%,
        </p>
        <button class="trandslist__btn">ЧИТАТЬ</button>
      </li>
      <li class="trandslist__item">
        <h2 class="trandslist__title">Тренды мужской одежды 2020</h2>
        <p class="trandslist__discription">доставка до вашего склада</p>
        <button class="trandslistbtn">ЧИТАТЬ</button>
      </li>
    </ul>
    <button>БОЛЬШЕ НОВОСТЕЙ</button>
  </div>
</section>
